body {
font-family: Helvetica, Arial, Sans-Serif;
}

 @media screen and (orientation:portrait) {
table {
width: 100%
}
}
td{
text-align: center;
  vertical-align: middle;
}

.klickbar{
    background-color: #ffdddd
}

.belegt_LF{
    background-color: #ffff00

}
.belegt_BF{
    background-color: #ffff00

}
.belegt_WF{
    background-color: #ffff00

}

.belegt_m{
background-color: #ffff00
}

.klein{
font-size:xx-small
}

.rotText {
color: #ff0000;
}

.grünText {
color:#008800;
}

.fett {
font-weight: bold;
}

.rot{
color: #ff0000;

}

.blau{
color:#0000ff}

.grün{
color:#008800;
}

ul{
padding-inline-start: 10px;
}

