body {
font-family: Helvetica, Arial, Sans-Serif;
}

 @media screen and (orientation:portrait) {
table {
width: 100%
}
}

.klickbar{
    background-color: #ffdddd
}

.belegt_LF{
    background-color: #ffff00

}
.belegt_BF{
    background-color: #ffff00

}
.belegt_WF{
    background-color: #ffff00

}

.rotText {
color: #ff0000;
}

.grünText {
color:#008800;
}

.fett {
font-weight: bold;
}

.rot{
color: #ff0000;

}

.grün{
color:#008800;
}

ul{
padding-inline-start: 10px;
}

