body {
font-family: Helvetica, Arial, Sans-Serif;
}

 @media screen and (orientation:portrait) {
table {
width: 100%
}
}

.klickbar{
    background-color: #ffdddd
}

.belegt_LF{
    background-color: #ffff00

}
.belegt_BF{
    background-color: #ffff00

}
.belegt_WF{
    background-color: #ffff00

}

.rotText {
color: #ff0000;
}

.grünText {
color:#008800;
}

.fett {
font-weight: bold;
}

.rot{
background-color: #ff0000;
color: #ffffff
}

.grün{
color:#000000;
background-color: #bbffbb
}

ul{
padding-inline-start: 10px;
}

